// transition
:root {
  --transition: 0.4s all ease-in-out;
}

// Preloader
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Navbar
@keyframes stickyTransition {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
