.tooltip {
  font-size: 12px;
  line-height: 1.4;
}

.error-msg {
  color: $redClr;
}

.error {
  color: $redClr;
}

.gap-y1 {
  gap: 15px 0;
}

.gap-y2 {
  gap: 24px 0;
}

.gap-y3 {
  gap: 32px 0;
}
