// Btn
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: none;
  outline: none;
  transition: var(--transition);

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    outline: none;
  }

  &Primary {
    color: $whiteClr !important;
    background-color: $primaryClr !important;
    border-color: darken($primaryClr, 10%) !important;

    &:hover,
    &:focus,
    &:active {
      color: $whiteClr !important;
      background-color: darken($primaryClr, 10%) !important;
      border-color: darken($primaryClr, 20%) !important;
    }
  }
}

// Btn Set
.btnSet {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 15px;
}
